<%= form_for @list do |f|  %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div>
    <%= f.submit "Salvar", class: "btn btn-primary" %>
  </div>
<% end %>
