<div class="container">
  <h1>TaskBoard</h1>
  <p>Hello, this is TaskBoard. A web application for manage tasks and organize your rotine.</p>
  <%= link_to "Signup on TaskBoard, is totally free.", signup_path, class:"btn" %>
  <%= link_to "Login, is totally free.", login_path, class:"btn" %>
</div>
