<%= form_for [@list, @card] do |f|  %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_area :title, class: "form-control" %>
  </div>

  <div>
    <%= f.submit "Salvar", class: "btn btn-primary" %>
  </div>
<% end %>
