/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap
 *= require_self
 */

  /* - Reset 
     - Global Styles
  */


 /* Reset */
h2, h3, p {
  margin: 0px;
}

/* Global Styles */
.centered-text {
  text-align: center;
}

#header {
  margin: 15px 0 25px 0;
  line-height: 33px;
  vertical-align: middle;
}

ul.menu {
  list-style: none;
  padding: 0px;
}


/* Element Column System */
.erow:before, .erow:after {
  content: " ";
  display: table;  
}

.erow:after {
  clear: both;
}

.ecol-xs-1, .ecol-xs-2, .ecol-xs-3, .ecol-xs-4, .ecol-xs-5,
.ecol-xs-6, .ecol-xs-7, .ecol-xs-8, .ecol-xs-9 {
  float: left;
}

.ecol-xs-1 {
  width: 10%;
}

.ecol-xs-2 {
  width: 20%;
}

.ecol-xs-3 {
  width: 30%;
}

.ecol-xs-4 {
  width: 40%;
}

.ecol-xs-5 {
  width: 50%;
}

.ecol-xs-6 {
  width: 60%;
}

.ecol-xs-7 {
  width: 70%;
}

.ecol-xs-8 {
  width: 80%;
}

.ecol-xs-9 {
  width: 90%;
}